
# Entornos virtuales (el más importante)
djvenv/
*.pyc
ssproyecto/static/admin/
.env
# Python (archivos compilados)
**/__pycache__/
*.local

# Caché de editores y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de configuración sensible
.env